<h2>Edit marker</h2>

<%= render "form.html", changeset: @changeset,
                        action: map_marker_path(@conn, :update, @marker.map_id, @marker) %>

<%= link "Back", to: map_marker_path(@conn, :index, @map) %>
