<h2>New marker</h2>

<%= render "form.html", changeset: @changeset, map_id: @map.id,
                        action: edit_map_marker_path(@conn, :create, @map) %>

<%= link "Back", to: edit_map_marker_path(@conn, :index, @map) %>
