<h1 class='home_title'>Enhanced Map</h1>

<div class='home_content'>
<%= if @first_map do %>
  <p>
    <%=link("Here is a sample map with overlay", to: readonly_map_path(@conn, :show, @first_map)) %>
  </p>
</div>
<p>Want to create your own google map with an overlay?</p>
<p>
  <%= link("Log in", to: login_path(@conn, :login)) %></p>
<p>Or</p>
<p><%= link("Register", to: register_path(@conn, :register)) %></p>
<br>
<% end %>
